@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 
.lead{
    font-size: 5rem;
}
header{
    height: 30%;
    background-color: white;
}


.imagenHeader{
    
    position: relative;
        height: 100%;
        width: 45%;
        margin-top: 65px;
        margin-left: 25%;
        
        
}
@media(max-width: 770px){
	.imagenHeader{ width: 300px;
        margin-top: 10%;
        margin-left: 150px;
        
	}
}

.logo{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 25px;
    left: 25px;
    margin-left: 75px;
    
}

@media(max-width: 770px){
	.logo{
		width: 100px;
        height: 100px;
        margin-bottom: 50px;
        margin-left: 0;
	}
}

body{
    background-color: #5ce1e6;
}


.container-fluid{
    background-color: #042a5d;
    padding: 15px;
    margin-top: 0%;
}
.imgNoticias {
	width: 350px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 15%;
} 

.navbar{
    padding: 0%;
    margin-top: 50px;
}

a style{
    color: white;
}

p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
}
.PNav{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: xx-large;
    font-style: normal; 
}
.dondeVoto{
    margin-bottom: 50px;

    width: 270px;
}
.qr{
    width: 250px;
    float: left;
    margin-bottom: 50px;
    margin-left: 100px;

}
.TextoQR{
    font-size: xx-large;
    font-family: "Bebas Neue", sans-serif;

}
@media(max-width: 770px){
	.qr{
		width: 120px;
        height: 120px;
        margin-bottom: 10px;
        margin-left: 15px;
        float:left
            
	}
}
@media(max-width: 770px){
    .TextoQR{
        font-size: small;
        float:inline-start;
        margin-left: 15px;
        
    }
@media (max-width:770px) {
    .dondeVoto{
        margin-left: 120px;
    }
}
}
h1{
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 10px;
}
h2{
    font-family: "Bebas Neue", sans-serif;

}
.SubTitulo{
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    margin-left: 45px;
    margin-right:45px;
    margin-bottom: 45px;
}
@media (max-width:770px) {
    .SubTitulo{
        font-size: 20px;
    }
}
h3{
    font-family: 'Lora', serif;
}


.imgNoticias:hover{
    filter: grayscale(0%);
    transition: 1s;
    transform: scale(1.1);
}
.fotosGatos{
    margin-bottom: 30px;
}

.videoGatos{
    margin-bottom: 30px;
}
.container{
    margin-top: 200px;
}

footer {
	background-color:#5ce1e6;
	height: 100%;
}

ol {
	list-style: none;
	padding: 0%;
}

li.footer {
	img {
		
		height: 50px;
		width: 50px;
		
		float: left;
		margin-left: 40px;
	}

	display: inline-block;
	position: sticky;
}

.navFooter {
	margin-top: auto;
}

.olRedes {
	text-align: center;
	background-color: #5ce1e6;
}
.redes{
    color: black;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bolder;
    font-family: "Bebas Neue", sans-serif;
    background-color: #5ce1e6;
}

@media (max-width:380px){
    .noticiasMishis{
        flex-direction: column;
        align-items: center;
    }
}


